@import url(../components/bootstrap/dist/css/bootstrap.css);
body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif; }

a {
  color: #00B7FF; }

.header {
  color: white;
  background: black; }

.folders {
  list-style-type: none;
  background: black;
  color: white;
  padding: 15px;
  height: 50px; }
  .folders li {
    display: inline-block;
    cursor: pointer; }

.task {
  list-style-type: none; }
  .task .form-control {
    display: inline-block; }

/*# sourceMappingURL=style.css.map */
