<table class="table">
	<thead>
		<tr>
			<th>Kalimat</th><th>Penilaian</th>
		</tr>
	</thead>
	<tbody data-bind="foreach : selek">
		<tr>
			<td data-bind="text : textSelect"></td>
			<td><select class="form-control" data-bind="options :[1,2,3,4,5,6,7,8,9,10], value: points"></select></td>
		</tr>
	</tbody>
</table>
<p>You have</p><b data-bind="text: pointsBugdet - pointsUsed()"></b>