<!-- This is a *view* - HTML markup that defines the appearance of your UI -->

<p><input class="form-inline form-group form-control" data-bind="value:firstName " /> First name: <strong data-bind="text : firstName">todo</strong></p>
<p><input class="form-inline form-group form-control" data-bind="value:lastName " />Last name: <strong data-bind="text : lastName">todo</strong></p>
<button class="btn" data-bind="click:capitalizeLastName">Go caps</button>