<h3>Task</h3>
<form class="form-group" data-bind="submit: addTask">
	add task : <input type="text" class="form-control" placeholder="isi ajalahh..." data-bind="value: newTaskText" /> <br>
	<button class="btn" type="submit">Add</button>
</form>

<ul class="task" data-bind="foreach:tasks, visible:tasks().length>0">
	<li>
		<input data-bind="checked: isDone" type="checkbox" > 
		<input data-bind="value: title, disable:isDone" type="text" class="form-control"> <br> <br>
		<button data-bind="click:$parent.removeTask" class="btn">Delete</button>
	</li>
</ul>
Kamu punya <b data-bind="text: incompleteTasks().length"></b> taks<span data-bind="visible: incompleteTasks().length == 0"> - it's beer time!</span>