<h2>Your seat reservations</h2>

<table class="table">
    <thead><tr>
        <th>Passenger name</th><th>Meal</th><th>name</th><th>Surcharge</th><th>Price</th><th>Action</th>
    </tr></thead>
    <!-- Todo: Generate table body -->
    <tbody data-bind="foreach : seats">
        <tr>
            <td><input class="form-control" data-bind="value: name"/></td>
            <td><select class="form-control" data-bind="options : $root.availableMeals, value: meal, optionsText: 'mealName'"></select></td>
            <td data-bind="text:name"></td>
            <td data-bind="text:meal().mealName"></td>
            <td data-bind="text:formattedPrice"></td>
            <td><button class="btn" href="#" data-bind="click: $root.removeSeat">Remove</button></td>
        </tr>
    </tbody>
</table>
<button class="btn" data-bind="click: addSeat, enable: seats().length<5">Reserve another seat</button>
<h3 data-bind="visible: totalSurcharge()>0">
    Total : $<span data-bind="text :totalSurcharge().toFixed(2)" ></span>
</h3>
<h2>Your seat recervation (<span data-bind="text: seats().length"></span>) </h2>


